version: "3.10"
services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    command: ./gunicorn.sh
    ports:
      - "5002:5000"
    working_dir: /app
    volumes:
      - ../database:/app/database
      - ../env:/app/env
      - .:/app:cached     # I think this is here for ease of local dev / hot reloading
      - $HOME/.bash_history:/root/.bash_history
