<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>RC Dynamic Display</title>

    <!-- React and ReactDOM from CDN -->
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>

    <!-- Babel Standalone for JSX transformation -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div id="root"></div>

    <script>
        // Pass Flask URLs to the React app
        window.APP_CONFIG = {
            persistentJpgUrl: '{{ url_for('persistent_jpg') }}',
            rcLogoUrl: '{{ url_for('static', filename='rc_logo.png') }}',
            getMessagesUrl: '{{ url_for('get_messages') }}'
        };
    </script>

    <script type="text/babel" src="{{ url_for('static', filename='App.jsx') }}"></script>

    <script type="text/babel">
        const root = ReactDOM.createRoot(document.getElementById('root'));
        root.render(<App />);
    </script>
</body>
</html>
